* {
box-sizing: border-box;
}


body {
  background-image: url("stickers.jpeg");
  margin: 0px;
  padding: 0px;
  font-family: 'Patrick Hand';
  color: #ffb5da;
}


.navWrapper{
  border-radius: 25px;
  display: flex;
  justify-content: center;
  padding: 1vmin;
  margin: 6vmin;
  font-size: 6vmin;
  background-color: #DF600C;
}

.navMenu{
  display: flex;
  width: 50vmin;
  justify-content: space-between;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #ba1a6a;
}

.activeLink{
  color: #ffa6c5;
}


.mainContainer{
  display: flex;
  flex-direction: row;
}


.contentContainer{
  display: flex;
	background-image: url("collage.jpeg");
  padding: 2vmin;
  flex-wrap: wrap;
  object-fit: contain;
  justify-content: space-around;

}
.contentContainer div{
  border-radius: 25px;
  width: 100%;
  object-fit: contain;
  background-color: #ff9f87;
  color: #ba1a6a;
  padding: 2vmin;
  margin: 2vmin;
  align-items: center;
  align-self: center;
  text-align: center;
}

.contentContainer .caption{
  text-align: center;
  font-size: 5vmin;
}


.contentContainer .textBox{
  align-self: center;
  font-size: 5vmin;
  padding: 2vmin;
  background-color: #ba1a6a;
  color: white;
  width: 100%;
}


.header{
  border-radius: 25px;
  display: flex;
  padding: 2vmin;
  margin: 10vmin;
  color: #ba1a6a;
  font-size:8vmin;
  background-image: linear-gradient(#DF600C, #ff9f87, #ffa6c5);

  align-self: center;
  justify-content: center;
  text-align: center;
  font-family: "Shizuru";
}

.header img{
  padding: 2vmin;
  width: 20%;
  align-self: center;
}


.mainContainer img {
  border-radius: 25px;
  width: 100%;
  flex-flow: column wrap;
  justify-content: space-around;
}

@media only screen and (min-width: 600px) {
  * {
  box-sizing: border-box;
  }


  body {
    background-image: url("stickers.jpeg");
    margin: 0px;
    padding: 0px;
    font-family: 'Patrick Hand';
    color: #ffb5da;
  }


  .navWrapper{
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding: 1vmin;
    margin: 6vmin;
    font-size: 4vmin;
    background-color: #DF600C;
  }

  .navMenu{
    display: flex;
    width: 50vmin;
    justify-content: space-between;
  }

  a{
    color: white;
    text-decoration: none;
  }

  a:hover{
    color: #ba1a6a;
  }

  .activeLink{
    color: #ffa6c5;
  }


  .mainContainer{
    display: flex;
    flex-direction: row;
  }


  .contentContainer{
    display: flex;
  	background-image: url("collage.jpeg");
    padding: 2vmin;
    flex-wrap: wrap;
    object-fit: contain;
    justify-content: space-around;

  }
  .contentContainer div{
    border-radius: 25px;
    width: 30%;
    object-fit: contain;
    background-color: #ff9f87;
    color: #ba1a6a;
    padding: 2vmin;
    margin: 2vmin;
    font-size: 4vmin;
    align-items: center;
    align-self: center;
    text-align: center;
  }

  .contentContainer .caption{
    text-align: center;
    font-size: 3vmin;
  }

  .contentContainer .gifs{
    display: flex;
    width: 30%;
    flex-wrap: nowrap;
    justify-content: space-between;

  }



  .contentContainer .textBox{
    align-self: center;
    font-size: 4vmin;
    padding: 3vmin;
    background-color: #ba1a6a;
    color: white;
    width: 60%;
  }


  .header{
    border-radius: 25px;
    display: flex;
    padding: 2vmin;
    margin: 10vmin;
    color: #ba1a6a;
    font-size:8vmin;
    background-image: linear-gradient(#DF600C, #ff9f87, #ffa6c5);

    align-self: center;
    justify-content: center;
    text-align: center;
    font-family: "Shizuru";
  }

  .header img{
    padding: 2vmin;
    width: 20%;
    align-self: center;
  }


  .mainContainer img {
    border-radius: 25px;
    width: 100%;
    flex-flow: column wrap;
    justify-content: space-around;
  }
}
}
